<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><meta charset="utf-8">
<title>Error 404 (Not Found)!!1</title>
<style>
*{margin:0;padding:0}
html,code{font:15px/22px arial,sans-serif}
html{background:#fff;color:#222;padding:15px}
body{margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px}
* > body{padding-right:205px}
p{margin:22px 0 0;overflow:hidden}
ins,#g{text-decoration:none}
ins{color:#777}a img{border:0}
</style>
</head><body>
<p><b>404.</b> <ins>That’s an error.</ins>
</p><p>The requested URL <code><%= @url %></code> was not found on this server.  <ins>That’s all we know.</ins>
<p><a href="/">Back to home</a>.</p>
</p></body></html>