<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Fanyi</title>
  <style>
  *{
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", 'Microsoft Yahei', STHeiti !important;
    font-size: 12px;
    height: 100%;
  }
  #main {
    width: 960px;
    margin: 0 auto;
  }
  #header {
    margin: 10px;
  }
  #header h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #header #limits {
    margin-left: 10px;
    margin-bottom: 20px;
  }
  #search_area {
    float: left;
  }
  #result_area {
    float: right;
    width: 440px;
    min-height: 250px;
    background-color: #ffffaa;
    padding: 5px;
    margin-bottom: 140px;
  }
  #result_area #translation {
    font-size: 24px;
  }
  #tr_body {
    height: 310px;
  }
  #tr_button {
    clear: both;
    margin-top: 15px;
    margin-left: 365px;
    *margin-left: 345px;
  }
  #tr_button button {
    padding: 3px 5px;
    background-color: #4D90FE;
    color: white;
    font-weight: bold;
  }
  textarea {
    resize: none;
    width: 440px;
    min-height: 250px;
    padding: 5px;
    border: 1px solid #ccc;
    overflow-x: auto;
  }
  #footer {
    border-top: 1px solid #BBB;
    color: gray;
    clear: both;
    padding: 30px 0 0 40px;
  }
  #footer p {
    padding-bottom: 10px;
  }

  </style>

  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript">
  function init() {
    $("#words").val("").focus();
  }

  function translate() {
    var str = $("#words").val();
    $.ajax({
      type: "POST",
      url: "/s/",
      data: "w=" + encodeURIComponent(str),
      success: function(result) {
        // alert(result);
        $("#translation").html(result);
      },
      error: function(result) {
      }
    });
  }
  </script>
</head>
<body onload="init();">
  <div id="main">
  <div id="header">
  <h1>en <=> ch <= jp | fr | kr</h1>
  <p id="limits">* No more than 200 words.</p>
</div><!-- / -->

<div id="tr_body">
  <div id="search_area" class="">
  <textarea wrap="SOFT" name="w" id="words" onkeyup="translate();"></textarea>
  <div id="tr_button">
  <button type="button" onclick="translate();">Translate</button>
</div>
</div><!-- / -->

<div id="result_area" class="">
  <p><span id="translation"></span></p>
</div><!-- / -->
</div>

<div id="footer">
  <p>Using <a href="http://fanyi.youdao.com" title="Youdao Fanyi">Youdao Fanyi</a> API. &copy; 2011 zhhailon & lemory & ssq.</p>
</div><!-- / -->

</div>
</body>
</html>
